<!DOCTYPE html>
<html>
    <head>
        <title><%= field %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>
            <%= field %>
        </h1>
        <% for (let i=0; i < field_books.length; i++) {%>
            <a href="<%= field_books[i].url %>"><%= field_books[i].title %></a>
            <br></br>
        <% } %>          
    </body>
</html>
