<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <div>
        <div>
            <div>
                View:
            </div>
            <ul>
                <li>
                    <a href="/catalog/books">Books</a>
                </li>
                <li>
                    <a href="/catalog/fields">Fields</a>
                </li>
                <li>
                    <a href="/catalog/difficultys">Difficulties</a>
                </li>
                <li>
                    <a href="/catalog/authors">Authors</a>
                </li>
                <li>
                    <a href="/catalog/publishers">Publishers</a>
                </li>
            </ul>
        </div>
        <div>
            <div>
                Create a:
            </div>
            <ul>
                <li>
                    <a href="/catalog/book/create">Book</a>
                </li>
                <li>
                    <a href="/catalog/field/create">Field</a>
                </li>
                <li>
                    <a href="/catalog/author/create">Author</a>
                </li>
                <li>
                    <a href="/catalog/publisher/create">Publisher</a>
                </li>
            </ul>
        </div>
    </div>

</html>