<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <div>
        <div>
            <div>
                All:
            </div>
            <ul>
                <li>
                    <a href="/catalog/books">Books</a>
                </li>
                <li>
                    <a href="/catalog/fields">Fields</a>
                </li>
                <li>
                    <a href="/catalog/difficultys">Difficulties</a>
                </li>
                <li>
                    <a href="/catalog/authors">Authors</a>
                </li>
                <li>
                    <a href="/catalog/publishers">Publishers</a>
                </li>
            </ul>
        </div>
        <div>
            <div>
                Create New:
            </div>
            <ul>
                <li>
                    <a href="">Book</a>
                </li>
                <li>
                    <a href="">Field</a>
                </li>
                <li>
                    <a href="">Difficulty</a>
                </li>
                <li>
                    <a href="">Author</a>
                </li>
                <li>
                    <a href="">Publisher</a>
                </li>
            </ul>
        </div>
    </div>

</html>